#movieDescription{
    height: 100%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    float: left;
    display: inline-block;
    margin-top: 3%;
}

#part1{
    margin-left: 1%;
}

#part2{
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
}