
html body{
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: #33383b;
}

#menu{
    margin-top: auto;
    padding-top: 0px;
    position: fixed;
    background-color: #292c2f;
    width: 100%;

}

#menu ul a{
    color: white;
    text-decoration: none;
    font: bold 16px Myriad Pro;
    padding: 10px 20px 20px 20px;

}

#menu ul a:hover{
    background-color: #5383d3;
}

header{
    height: 50px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

#main2{
    height: 100%;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    float: left;
    display: inline-block;


}

h1{
    color: white;
    font-family: Myriad Pro;
}

p{
    color: white;
    font-family: Myriad Pro;

}

#aside2
{
    height: 100%;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    float: right;
}

#trailers{
    float: left;
}

#trailers ul{
    list-style-type : none;
}


#trailersText{
    text-align: center;
}

