#filtersSection{
    font-family: "Myriad Pro";
    font-size: 16px;
    margin-top: 5%;
    margin-left: auto;
    width: 100%;
    height: auto;
    display: inline-block;

}

#filters1{
    margin-top: 1px;
    width: 25%;
    float: left;
}


#filters2{
    width: 75%;
    float: left;
}

#filters2 input{
        width: 100%;
        padding: 6px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

}

#search{
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;

    width: 100%;
    padding: 18px;

}

#filtersMovies{
    float: left;
    display: inline-block;
    width: 100%;
    height: auto;

}

#filtersMovies ul{
    list-style-type : none;
}

#filtersMovies table{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#tableMovies p{
    margin-top: 0;
}

#searchButton{
    width: 100%;
    background-color: #5383d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Myriad Pro";
}

