body{
    text-align: center;
    font-family: "Myriad Pro";
    background-color: cornflowerblue;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;

}

header{
    background-color: aliceblue;
    width: 100%;
    float: left;
}

section{
    background-color: cornflowerblue;
    width: 70%;
    height: 100%;
    float: left;
    padding-bottom: 20%;


}


#aside1{
    background-color: #4eed14;
    width: 30%;
    height: 100%;
    float: left;
    margin-bottom: 0%;
}



footer{
    background-color: olivedrab;
    float: left;
    width: 100%;
}